.background{
  background-image: url("../images/login.gif");
  position: relative;
  height: 700px;
 overflow: hidden;
 background-repeat: repeat;
  /*background-color: GHOSTWHITE;*/
  /*opacity:0.5;*/

}

.newTrade_textarea {
 width: 100%;
 height: 227px;
 border-radius: 8px;
 background-color: #ffffff ;
 border: solid 1px #d5d5d5 ;
 resize: none;
 margin-top: 36px;
}
.line {
 width: 100%;
 height: 3px;
 border: solid 1px #d5d5d5 ;
}
.terms_conditions {
padding: 30px 0px;
}
